.page-layout {
	display: flex;
	flex-direction: column;

	width: 100vw;
	height: 100vh;

	overflow: hidden; /* Prevent body scroll */
}

.menu {
	flex-grow: 0.08;
	min-height: 50px;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	background-color: burlywood;
}

.menu-item {
	height: fit-content;

	font-size: larger;

	margin-right: 2ch;
	font-weight: bold;
	cursor: pointer;
}

.menu-item:hover {
	color: #800000;
}

.page-content {
	flex-grow: 0.92;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}